---
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Libro de Recuerdos Interactivo - Crea Momentos Inolvidables</title>
    <meta
      name="description"
      content="Un libro interactivo 3D lleno de ideas para conectar con quienes más amas. 
      Cada página es una nueva aventura, cada momento una memoria para atesorar."
    />
  </head>

  <body>
    <Analytics />
    <slot />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
